@mixin display-center {
	display: flex;
	justify-content: center;
}

@mixin display-start {
	display: flex;
	justify-content: start;
}

@mixin tamaño-imagen {
	width: 100%;
	height: auto;
}

@mixin estilos-card {
	.card {
		background-color: #FAF8FA;
	}

	.card:hover {
		background-color: #CACFD2;
	}	

	.card-body p {
		text-align: center;
	}
}