@import "../_mixin.scss","../_footer.scss","../_navbar.scss";

/*Estilo titulo de entrada*/
.cartel-store {
	background-color: #000000;
	.tienda {
		height: 500px;
		align-items: center;
		@include display-center;	
		.titulo-tienda {
			width: 100;
			h2 {
				font-size: 90px;
				font-family: 'Fjalla One', sans-serif;
				color: white;
				animation-name: opacar;
				animation-duration: 3s;
			}
			@keyframes opacar {
				0% {
					opacity:0;
				}

				100% {
					opacity:1;
				}
			}
		} 
	}
} 

/*Estilo seccion celulares*/
.section-iphone {
	.titulo-iphone {
		width: 100%;
		@include display-center;
		h2 {
			padding-top: 30px;

			i {
				color: #000000;
			}
		}
	}

	.section-celulares {
		padding: 5px;
		.iphone13 {
			@include display-center;	
			@include estilos-card;
		}

		.iphonex {
			@include display-center;
			@include estilos-card;
		}

		.iphonexr {
			@include display-center;
			@include estilos-card;
		}

		.iphone7-8p {
			@include display-center;
			@include estilos-card;
		}
	}
}

/*Estilo seccion relojes*/
.section-watch {
	.titulo-watch {
		@include display-center;
		padding-top: 30px;

		i {
			color: #000000;
		}
	}

	.section-relojes{
		padding: 5px;
		.watch-se {
			@include display-center;
			@include estilos-card;
		}

		.watch-26 {
			@include display-center;
			@include estilos-card;
		}

		.watch-serie6 {
			@include display-center;
			@include estilos-card;
		}
	}
}
 
/*Estilo seccion macbook-airpods*/
.section-macbook-airpods {
	.contenedor {
		@include display-center;
		padding-top: 10px;

		.macbook {
			border:solid 1px black;
			.titulo-macbook {
				@include display-center;
			}
			.parrafo-macbook {
				@include display-center;
			}
			.imagen-macbook {
				@include display-center;
				img {
					@include tamaño-imagen;
				}
				
			}
		}

		.airpods {
			border:solid 1px black;
			.titulo-airpods {
				@include display-center;
			}
			.parrafo-airpods {
				@include display-center;
			}
			.imagen-airpods {
				@include display-center;
				img {
					@include tamaño-imagen;
				}
			}
		}

	}
}

/*Estilo seccion ipad, apple-tv*/
.section-ipad-tv {
	.ipad-tv {
		@include display-center;
		.ipad {
			border:solid 1px black;
			.titulo-ipad {
				@include display-center;

			}

			.parrafo-ipad {
				@include display-center;
			}

			.imagen-ipad {
				@include display-center;
				img {
					@include tamaño-imagen;
				}
			}
		}

		.apple-tv {
			border:solid 1px black;
			.titulo-tv {
				@include display-center;
			}

			.parrafo-tv {
				@include display-center;
			}

			.imagen-tv {
				@include display-center;
				img {
					@include tamaño-imagen;
				}
			}
		}
	}
}

/*Estilo para que no se produzca scroll horizontal*/
.not-scroll {
	width: 100%;
	margin: 0 auto;
}